*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*header*/
.header{
    background-color: #2D3446;
    display: flex;
}
.headbox{
    width: 50%;
    height: 70px;
    padding:10px;
    box-sizing: border-box; 
}
.headbox img{
    height: 100%;
    cursor: pointer;
}
.headbox ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.headbox ul li{
display: inline;
font-size: 20px;
margin-left: 30px;
}
.headbox ul li a:hover{
    color:#D3AC2B;
}
a{
    text-decoration: none;
    color:white; 
}
.headitem li a:hover{
    color:white;

    
}
.headitem li a{
    
    color:#C9CFD5;
}
/*=============================================*/
   /*輪播圖*/
   .banner{
    height: 550px;
}
.banner img{
    width: 100%;
    height: 100%;
}
  
 /*搜尋框*/
 .search{
     display: flex;
     height: 60px;
     background-color: #CBD0D8;/*更改*/
     align-items: center;
     justify-content: center;

 }
 .sitem{
     width: 300px;
     background-color: #003d79;
     height: 30px;
     margin-left: 30px;
     text-align: center;
     line-height: 25px;
     border-radius: 5px;  
 }
 .sitem:hover{
     cursor: pointer;
 }
 .search button{
    width: 60px;
    height: 30px;
    margin-left: 30px;
    border: none;
    background-color: #D3AC2B;
}
.search button:hover{
    background-color: #2D3446;
    color: white;
    cursor: pointer;
}
 /*=====熱門目的地===========*/
 .dest{
      max-width: 1200px;
      width: 100%;
      margin: auto;
      display: flex;
      margin-top: 50px;
  }

  .dleft{
      display: flex;
      width: 25%;
      text-align: center;
      justify-content: center;
      align-items: center;
      
  }
  .dtext{
    
  }
  .dleft h2{
    
      line-height: 50px;
      color: black;
  }
  .dleft p{
      margin-top: 10px;
      line-height: 30px;
      /* letter-spacing:5px; */
  }
  .dleft button{
        width: 80px;
        height: 20px;
        background-color: #D2AC2C;
        cursor: pointer;
        margin-top: 5px;
        border: none;
        color:white;
       
    }

  .dright{
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
   
}
.place{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;

    
}
.ppic{
    width: 100%;
    height: auto;  
    overflow:hidden;
}
.ppic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
    transform:scale(1,1);transition: all 1s ease-out;
}
.ppic img:hover{
    transform:scale(1.2,1.2);
}
.pname{
    position: absolute;
    left: 16px;
    bottom:10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    text-shadow: rgb(0 0 0 / 50%) 0px 1px 4px, rgb(0 0 0 / 87%) 1px 1px 4px;


}
.roomtitle{
    font-size: 18px;
    height: 30px;
    color: #000;
    background-color: darkgoldenrod;
}
.dtext p{
    font-size: 15px;
}
.title{
    font-size: 30px;
    color: #2D3446;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    
}
/*=============footer===================*/
.footer{
    font-size: 15px;
    height: 30px;
    background-color:#2D3446;
    color: white;
    text-align: center;
    line-height: 30px;
}
/*==========表格===========*/
tr:nth-child(even){
    background-color:#F4F3EA;
}
td{
    width: 1200px;
    height: 30px;
    border: 1px solid #333D51;
    text-align: center;
    position: relative;
}
td a{
    font-size: 14px;
    color:white ;
    background-color: #333D51;
}
td a:hover{
    background-color: #D2AC2C;
    color: #000;
}

thead {
    background-color:#333D51;
    color: #fff;
}
.tdbtn{
    width: 35px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: none;
    background-color: #CBD0D8 ;
    cursor: pointer;
    position:absolute;
    right: 10px;
}


.newbtn{
  width: 50px;
  height: 50px;
  background-color: #CAD0D7;
  color: #2D3446;
text-align: center;
  line-height: 50px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.newbtn:hover{
opacity: 0.8;
color:#D3AC2B;
background-color: #2D3446;
}
.newimg{
  width: 300px;
  height: 220px;
  background-color: #2D3446;
}
table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.newtext{
  width: 300px;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;

}
.newimg img{
  width: 100%;
  height: 100%;
  /* filter: grayscale(0.5); */
}

.bg {
    background-image: 
       linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6));
    }
    /*最新房源*/
    .itemPanel{
        position:relative;
        width: 910px;
        height:250px;
        margin: auto;
        overflow:hidden;
        display: flex;
        align-items: center;
    }
    .wrap1{
        position:absolute;
        top:5px;
        left:5px;
        width:3000px;
        transition:left 1s;
    }
    .item{
        margin: 10px;
        width:280px;
        height:250px;
        background-color: yellow;
        text-align: center;
        float:left;
        object-fit: over;
    }
    .item img{
        width: 100%;
        object-fit: over;
        
    }

    #btnLeft,#btnRight{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        color:#2D3446;
        font-size:30px;
        background-color:#E0E0E0;
        cursor: pointer;
    }

    #btnLeft[disabled], #btnRight[disabled]{
        color:white;
        font-size:30px;
        weight:bold;
    }  
    #leftRightPanel{
        width: 1080px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .slidecontainer {
        width: 300px;;
      }
      
      .slider {
        -webkit-appearance: none;
        
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: goldenrod;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border: 0;
        cursor: pointer;
        background-color: green;
      }
      
      .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
        
        cursor: pointer;
        background-color: green;
      }
      .range{
        width: 300px;
        height: 30px;
        display: flex;
        justify-content: space-between;
      }
      .rbox{
        width: 80px;
        height: 30px;
        text-align: center;
      }
      /* #demo::before{
        content: 'NT$ ';
      } */
