*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*==========================Header===============================*/
.header {
    height: 55px;
    background: #EDEFEE;
    position: relative;
}
.logo{
    margin-left: 5px;
    background-image: url(pic/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.logo a {
overflow: hidden;
text-indent: 101%;
white-space: nowrap;
display: block;
width: 64px;
height: 64px;
cursor: pointer;
margin-left: 30px;
}
.hamburger {
width: 40px;
height: 40px;
position: absolute;
top: 10px;
right: 10px;
display: block;
cursor: pointer;

}
.hamburger-line {
width: 40px;
height: 3px;
background-color: #2D3446;
margin: auto;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
box-shadow: 0px 10px 0px #2D3446, 0px -10px 0px #2D3446;
border-radius: 50px;
}
.menu {
  background: #EDEFEE;
height: 100vh;
width: 50%;
position: absolute;
top: 0;
left: 0;
transform: translateX(-100%);
transition: 0.5s;
z-index: 3;
overflow: hidden;

}
.menu li a {
display: block;
padding: 15px;
margin: 0px 20px 10px;
color: black;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
text-align: center;
}
.menu li a:hover {
color: white;
}
.menu ul li{
list-style: none;
}
.menu li:hover{
  background-color: #D67940;
 transition: 0.2s;
 transform: scale(1.1);
}
#menu-switcher {
display: none;
}
#menu-switcher:checked ~ .menu {
transform: translateX(0%);
}


/*=====================搜尋框===============================*/
.search{
  
  height: auto;
  background-color: darkcyan;
  /* opacity: 0.8; */
  display: flex;
  flex-wrap: wrap;
}
.sitem{
    width: 100%;
    height: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    opacity: 1;
    cursor: pointer;
    border: none;
    /* font-size: 18px; */
}

select{
    width: 180px;
    height: 25px;
    background-color: white;
    letter-spacing: 2px;
    font-size: 15px;
    
}
option{
    letter-spacing: 10px;
}
.search button{
   width: 60px;
   height: 30px;
   margin-left: 30px;
   border: none;
   background-color: #D3AC2B;
}
.search button:hover{
   background-color: #2D3446;
   color: white;
   cursor: pointer;
}
.item{
  max-width: 250px;
  height: 200px;
  width: 100%;
  background-color: #CBD0D8 ;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  text-align: center;
}
.item img{
  width: 100%;
  height: 100%;
}
.newname h4{
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 200px;
  position: absolute;
  background-color: rgba(0,0,0,83);
  color: white;
  top:0px;
  z-index: 2;
  opacity: 0.6;
  cursor: pointer;
}
.newname h4:hover{
 transition: 0.5s;
 color: #000;
background-color: rgba(222, 222, 224, 0);
  opacity: 1;
}
/*================================*/
.btnall{
  max-width: 1200px;
  width: 100%;
 
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.title{
  max-wiirwdth: 1200px;
  width: 100%;
}
.title h2{
  font-size: 28px;
    color: #2D3446;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
    
  }
  
  .btnall ul{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
    
}

.btnall ul li{
    width: 150px;
    text-align: center;
    font-size: 20px;
    background-color: #D3AC2B ;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/*==========搜尋結果===============*/
.wrap{
max-width: 1200px;
width: 100%;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
  
}
.up{
 width: 95%;
 padding: 10px;
 box-sizing: border-box;
 border: 1px solid #979797;
 background-color: white;  
 
}
.btleft{
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #979797;
  box-sizing: border-box;
  color: #777777;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 12px;
}
.conbtn{
  width: 30%;
  padding: 20px;
  position: absolute;
  background-color: white;
  border:1px solid #ccc;
  z-index: 3;
}
.close{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #5a5b5b;
  color: white;
}
.sub{
  text-align: center;
  width: 30%;
  height: 35px;
  border: none;
  background-color: #D3AC2B;
  cursor: pointer;
  
  
}
/*==================右側搜尋==================*/
.saletext{
  width: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.rtext span{
  font-size: 15px;
  color: #0283DF;
  font-weight: 600;
  
}
.mapicon::before{
  display: inline-block;
  content: '';
  background-image: url(pic/i1.png);
  background-position: center center;
  background-size: cover;
  width: 15px;
  height: 15px;
}
.rtext{
  position: relative;
}
.rtext ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.rtext ul li{
  margin-left: 10px;
  color: #28871c;
  border:1px solid #28871c;
  font-size: 12px;
  letter-spacing:2px;
  font-weight: 400;
}

.rtext button{
  position: absolute;
  right: 10px;
  border: none;
  bottom: 10px;
  padding: 12px;
  border-radius: 4px;
  user-select: none;
  background-color: rgb(62, 108, 234);
  color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
  transition: all 0.15s ease-in-out 0s;
}
.red{
  position:absolute;
  font-size: 15px;
  bottom:60px;
  right: 10px;
  font-weight: 600;
  color:red;
}
.fff{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 13px;
  letter-spacing: 1px;

}
.dele{
  text-decoration: line-through;
  color: #888888;
  margin-left: 10px;
}
.leftright{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.left{
  display: none;
  width:25%;
  height: auto;

  
}
.right{
  width: 95%;
}
.leftbox{
  display: none;
}
.rightbox{
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  

}
.rimg{
  max-width: 280px;
  height: 200px;
  width: 100%;
  overflow: hidden;

}	
.rimg img{
  width: 100%;
  height: 100%;
}
.rtext{
  width: 100%;
  padding: 20px;

}
/*=====================搜尋框===============================*/
.search{
  /* margin-top: -150px; */
  height: auto;
  background-color: #178CA4;
  /* opacity: 0.8; */
  display: flex;
  flex-wrap: wrap;
}
.sitem{
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    opacity: 1;
    cursor: pointer;
    border: none;
    /* font-size: 18px; */
}
.sitem input{
  width: 80%;
  height: 25px;
  
}

select{
    width:80%;
    height: 25px;
    background-color: white;
    letter-spacing: 2px;
    font-size: 15px;
    
}
option{
    letter-spacing: 10px;
}
.sitem button{
   width:20%;
   height: 25px;
   border: none;
   background-color: #072A40;
   box-shadow: 0px 2px 3px #e8ece8;
}

.sitem button:hover{
   /* background-color: #2D3446; */
   color: white;
   cursor: pointer;
}
button a{
  text-decoration: none;
  color: white;
}
/*=============footer===================*/
.footer{
  font-size: 15px;
  height: 30px;
  background: #EDEFEE;
  color: black ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  text-align: center;
  line-height: 30px;
}
/*=======================RWD===============================*/
@media screen and (min-width: 768px) {
.hamburger {
display: none;
}
.header {
display: flex;
justify-content: space-between;
}
.menu {
height: auto;
width: auto;
display: flex;
position: relative;
background: #EDEFEE;
transform: translateX(-5%);
}
/* li:hover{
    background-color: #2D3446;
    
} */

.sitem button{}
.leftright{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.right{
  width: 90%;
}
form{
  font-size: 15px;
  margin-top: 10px;
}
.leftbox ul{
  margin-top: 10px;
  font-size: 15px;
}
.leftbox ul li{
  margin-bottom: 5px;
}
}
@media screen and (min-width: 992px) {
  .search{
    display: flex;
    height: 60px;
    background-color: black;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
  }
  .sitem{
    width: 15%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    opacity: 1;
    cursor: pointer;
    border: none;
    /* font-size: 18px; */
  }
  .sitem button{
    width:70%;
    height: 25px;
    border: none;
    background-color: #2D3446;
    box-shadow:none;
    
 }
.up{
 width: 100%;

}

.leftbox{
  padding: 10px;
  display: block;
  width: 85%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  color: #5a5b5b;
 
}
.rightbox{
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  

}
.rimg{
  max-width: 280px;
  height: 200px;
  width: 100%;
  overflow: hidden;
  

}	
.rimg img{
  width: 100%;
  height: 100%;
}
.rtext{
  width: 100%;
  padding: 20px;

}
.left{
  display: block;

}


}